<% include ../../../partials/header %>
<!-- Include CSS/Scripts -->
<link rel="stylesheet" href="/stylesheets/user/private/blackboard/student.css">

<!-- Start -->
<div class="blackboard">
  <div class="banner">
    <div class="container">
      <h1>Blackboard</h1>
      <div class="links">
          <li><a href="/blackboard"><h4>Overview</h4></a></li>
          <li><a href="/blackboard/tutor"><h4>Tutor</h4></a></li>
          <li id="selected"><a href="/blackboard/student"><h4>Student</h4></a></li>
          <li><a href="/blackboard/tutor-reviews"><h4>Reviews</h4></a></li>
      </div>
    </div>
  </div>

  <div class="student">
    <div class="container">
      <div class="left">
          <h4 id="selected_link"><a href='/blackboard/student'>Upcoming Classes</a></h4>
          <h4><a href='/blackboard/student/booking'>Bookings</a></h4>
      </div>

      <div class="right">
        <% if(User.studentBooking.length < 1) { %>
          <h4>You have not requested to book a class yet. <a href='/allclasses'>View all classes</a> to get started.</h4>
        <% } else { %>
          <% User.studentBooking.reverse().forEach(function(booking) { %>
            <% if(booking.tutor && booking.class && moment().isBefore(booking.date)){ %>
              <div class="bookingRequests">
                <% if(booking.status === 'Pending') { %>
                  <h5 id="pending"><b><%= booking.status %></b></h5>
                <% } else { %>
                  <h5 id="approved"><b><%= booking.status %></b></h5>
                <% } %>

                <h4><b><%= booking.class.classTitle %></b></h4>
                <h5>Tutor: <b><%= booking.tutor.firstName %> <%= booking.tutor.lastName %></b></h5>
                <h5>Tutoring Date: <b><%= moment(booking.date).format('MMM Do, YYYY') %></b></h5>

                <div class="actions">
                  <h5><a href="/book/class/<%= booking.class._id %>/bookref/<%= booking._id %>"><i class="far fa-comment-alt"></i> Message Tutor</a></h5>
                </div>
              </div>
            <% }; %>
          <% }); %>
        <% }; %>
      </div>
    </div>
  </div>
</div>



<% include ../../../partials/footer %>
<script src="/scripts/class/allclasses.js" type="text/javascript"></script>
