<% include ../../../partials/header %>
<!-- Include CSS/Scripts -->
<link rel="stylesheet" href="/stylesheets/user/private/blackboard/tutor.css">

<!-- Start -->
<div class="blackboard">
  <div class="banner">
    <div class="container">
      <h1>Blackboard</h1>
      <div class="links">
          <li><a href="/blackboard"><h4>Overview</h4></a></li>
          <li id="selected"><a href="/blackboard/tutor"><h4>Tutor</h4></a></li>
          <li><a href="/blackboard/student"><h4>Student</h4></a></li>
          <li><a href="/blackboard/tutor-reviews"><h4>Reviews</h4></a></li>
      </div>
    </div>
  </div>

  <div class="tutor">
    <div class="container">
      <div class="left">
        <h4 id="selected_link"><a href='/blackboard/tutor'>Manage Your Classes</a></h4>
        <h4><a href='/blackboard/tutor/scheduled'>Scheduled Classes</a></h4>
        <h4><a href='/blackboard/tutor/booking'>Booking Requests</a></h4>
        <% if(User && User.isTutor) { %>
          <a href="/blackboard/tutor/new"><div><h4><b>Create Class</b></h4></div></a>
        <% } else { %>
          <a href="/becometutor"><div><h4>Become a tutor</h4></div></a>
        <% } %>

      </div>

      <div class="right">
        <div class="createClassMob">
          <% if(User && User.isTutor) { %>
            <a href="/blackboard/tutor/new"><div><h4><b>Create Class</b></h4></div></a>
          <% } else { %>
            <a href="/becometutor"><div><h4>Become a tutor</h4></div></a>
          <% } %>
        </div>

        <% if(Class.length <= 0) { %>
          <% if(User && User.isTutor) { %>
            <h4>You have no current available classes. Click on <a href="/blackboard/tutor/new"><b>Create Class</b></a> to get started.</h4>
          <% } else { %>
            <h4>You have no current available classes. Click on <a href="/becometutor"><b>Become a tutor</b></a> to get started.</h4>
          <% } %>

        <% } else { %>
          <% Class.forEach(function(Class) { %>
            <!-- <a href="/allclasses/<%= Class.slug %>"> -->
              <div class="tutorClass">
                  <div class="classIllustration">
                    <% if(Class.mainSubject === 'Languages') { %>
                      <img src="/assets/classIllustrations/languages.png" alt="class-illustration">
                    <% } else if (Class.mainSubject === 'Math') { %>
                      <img src="/assets/classIllustrations/math.png" alt="class-illustration">
                    <% } else if (Class.mainSubject === 'Chemistry') { %>
                      <img src="/assets/classIllustrations/chemistry.png" alt="class-illustration">
                    <% } else if (Class.mainSubject === 'Physics') { %>
                      <img src="/assets/classIllustrations/physics.png" alt="class-illustration">
                    <% } else if (Class.mainSubject === 'Biology') { %>
                      <img src="/assets/classIllustrations/biology.png" alt="class-illustration">
                    <% } else { %>
                      <img src="/assets/classIllustrations/ureca.png" alt="class-illustration">
                    <% } %>
                  </div>
                  <div class="classInformation">
                      <div class="classInformation-title">
                        <h4><b><%= Class.classTitle %></b></h4>
                        <h4>CAD <%= Class.price %> per Hour</h4>
                      </div>
                      <div class="hiddenEdit">
                        <a href="/allclasses/<%= Class.slug %>">Preview</a>
                        <a href="/blackboard/tutor/<%= Class._id %>/edit">Edit</a>
                        <a href="/blackboard/tutor/<%= Class._id %>/delete">Delete</a>
                      </div>
                  </div>
              </div>
            <!-- </a> -->
          <% }); %>
        <% } %>
      </div>
    </div>
  </div>
</div>



<% include ../../../partials/footer %>
<script src="/scripts/class/allclasses.js" type="text/javascript"></script>
