<% include ../../partials/header %>

<!-- Include CSS/Scripts -->
<link rel="stylesheet" href="/stylesheets/class/private/class-edit.css">
<script src="/scripts/class/private/class-edit.js" type="text/javascript"></script>

<!-- Start -->
<!-- <div class="se-pre-con"></div> -->
<div class="class-edit">
  <div class="container">
    <div class="classEditIntro">
      <h1>Edit Class: <%= Class.classTitle %></h1>
      <hr>
    </div>

    <form name="newClassForm" action="/blackboard/tutor/<%= Class._id %>?_method=PUT" method="POST">
      <fieldset>

      <h3><b>Step 1 of 4:</b> Basics</h3>
      <div class="classFormBox">
        <label for="classTitle"><h4>Class Title <span><small>- (Required)</small></span></h4></label>
        <h5>Enter a unique class title. This helps your class stand out and you can be as creative as you want.</h5>
        <input required type="text" name="classTitle" value="<%= Class.classTitle %>" placeholder="For example: Making math easy for grade 10 students">

        <hr>

        <label for="mainSubject"><h4>Subject Category <span><small>- (Required)</small></span></h4></label>
        <h5>What subject category does your class fall under?</h5>
        <select required required name="mainSubject">
          <% if(Class.mainSubject === 'Biology') { %>
            <option value="Biology" selected>Biology</option>
          <% } else { %>
             <option value="Biology">Biology</option>
          <% } %>

          <% if(Class.mainSubject === 'Math') { %>
            <option value="Math" selected>Math</option>
          <% } else { %>
            <option value="Math">Math</option>
          <% } %>

          <% if(Class.mainSubject === 'Physics') { %>
            <option value="Physics" selected>Physics</option>
          <% } else { %>
            <option value="Physics">Physics</option>
          <% } %>

          <% if(Class.mainSubject === 'Chemistry') { %>
            <option value="Chemistry" selected>Chemistry</option>
          <% } else { %>
            <option value="Chemistry">Chemistry</option>
          <% } %>

          <% if(Class.mainSubject === 'Languages') { %>
            <option value="Languages" selected>Languages</option>
          <% } else { %>
            <option value="Languages">Languages</option>
          <% } %>

          <% if(Class.mainSubject === '') { %>

          <% } else { %>

          <% } %>

          <% if(Class.mainSubject === '') { %>

          <% } else { %>

          <% } %>

          <% if(Class.mainSubject === '') { %>

          <% } else { %>

          <% } %>

          <% if(Class.mainSubject === '') { %>

          <% } else { %>

          <% } %>

          <option value="Social Studies">Social Studies</option>
          <option value="Social Sciences">Social Sciences</option>
          <option value="Career">Career</option>
          <option value="Physical Education">Physical Education</option>
          <option value="Computer Technology">Computer Technology</option>
        </select>

      </div>

      <br>

      <h3><b>Step 2 of 4:</b> Target Students</h3>
      <div class="classDetails">

      <label for="educationLevel"><h4>Target Education Level <span><small>- (Required)</small></span></h4></label>
      <h5>What level of education is this class aimed for?</h5>
        <select required name="educationLevel">
          <% if(Class.educationLevel === 'Any') { %>
            <option value="Any" selected>Any</option>
          <% } else { %>
            <option value="Any">Any</option>
          <% } %>

          <% if(Class.educationLevel === 'Pre School') { %>
            <option value="Pre School" selected>Pre School</option>
          <% } else { %>
            <option value="Pre School">Pre School</option>
          <% } %>

          <% if(Class.educationLevel === 'High School') { %>
            <option value="High School" selected>High School</option>
          <% } else { %>
            <option value="High School">High School</option>
          <% } %>

          <% if(Class.educationLevel === 'Undergraduate') { %>
            <option value="Undergraduate" selected>Undergraduate</option>
          <% } else { %>
            <option value="Undergraduate">Undergraduate</option>
          <% } %>

          <% if(Class.educationLevel === 'Post Graduate') { %>
            <option value="Post Graduate" selected>Post Graduate</option>
          <% } else { %>
            <option value="Post Graduate">Post Graduate</option>
          <% } %>
        </select>

        <hr>

        <label for="institute"><h4>Institute(s) <span><small>- (Optional)</small></span></h4></label>
        <h5>Will students enrolled in a certain institute benefit from your tutoring class? If so, write down all associated intitute(s).</h5>
        <input id="institute" type="text" placeholder="For example: University of Alberta or NAIT">
        <div class="addBtn"><h4>Add Institute</h4></div>
        <% if(Class.institute.length > 0) { %>
          <ul id="institute-ul">
            <% Class.institute.forEach(function(institute) { %>
              <li><div><i class='fas fa-trash-alt'></i></div><input type='text' name='institute' value='<%= institute %>' maxlength='150'></li>
            <% }) %>
          </ul>
        <% } else { %>
          <ul id="institute-ul" class="no-display"></ul>
        <% } %>

        <hr>

        <label for="courseCode"><h4>Course Code(s) <span><small>- (Optional)</small></span></h4></label>
        <h5>Which course codes are applicable to this tutoring class? You can have multiple course codes that your class will cover.</h5>
        <input id="courseCode" type="text" placeholder="For example: MATH-20 or MATH-30">
        <div class="addBtn"><h4>Add Course Code</h4></div>
        <% if(Class.institute.length > 0) { %>
          <ul id="courseCode-ul">
            <% Class.courseCode.forEach(function(courseCode) { %>
              <li><div><i class='fas fa-trash-alt'></i></div><input type='text' name='courseCode' value='<%= courseCode %>' maxlength='150'></li>
            <% }) %>
          </ul>
        <% } else { %>
          <ul id="courseCode-ul" class="no-display"></ul>
        <% } %>

      </div>

      <br>

      <h3><b>Step 3 of 4:</b> Details For Your Students </h3>
      <div class="classStructure">

        <label for="topics"><h4>Topics <span><small>- (Optional)</small></span></h4></label>
        <h5>What are the main topics that you can help your students with?</h5>
        <input id="topics" type="text" placeholder="For example: Algebraic Equations">
        <div class="addBtn"><h4>Add Topic</h4></div>
        <% if(Class.topics.length > 0) { %>
          <ul id="topics-ul">
            <% Class.topics.forEach(function(topic) { %>
              <li><div><i class='fas fa-trash-alt'></i></div><input type='text' name='topics' value='<%= topic %>' maxlength='150'></li>
            <% }) %>
          </ul>
        <% } else { %>
          <ul id="topics-ul" class="no-display"></ul>
        <% } %>

        <hr>

        <label for="materialsProvided"><h4>Learning Materials <span><small>- (Optional)</small></span></h4></label>
        <h5>Will you provide any additional learning materials for the students?</h5>
        <input id="materialsProvided" type="text" placeholder="For example: Past exams and quizzes">
        <div class="addBtn"><h4>Add Learning Material</h4></div>
        <% if(Class.topics.length > 0) { %>
          <ul id="materialsProvided-ul">
            <% Class.materialsProvided.forEach(function(material) { %>
              <li><div><i class='fas fa-trash-alt'></i></div><input type='text' name='materialsProvided' value='<%= material %>' maxlength='150'></li>
            <% }) %>
          </ul>
        <% } else { %>
          <ul id="materialsProvided-ul" class="no-display"></ul>
        <% } %>

        <hr>

        <label for="classDescription"><h4>Provide a description for your class</h4></label>
        <textarea type="text" name="classDescription" rows="7" cols="100" placeholder="Enter a description for your tutoring class. Be as descriptive as you can."><%= Class.classDescription %></textarea>


        <!-- <label for="classType"><h4>Will this class be a one-on-one session or is it a group session?</h4></label>
        <select required name="classType">
          <option value="" selected disabled hidden>Click to drop down</option>
          <option value="One-On-One">One-On-One</option>
          <option value="Group Session">Group Session</option>
        </select> -->

      </div>

      <br>

      <h3><b>Step 4 of 4:</b> Pricing </h3>
      <div class="classPrice">
        <label for="price"><h4>Hourly Price <span><small>- (Required)</small></span></h4></label>
        <h5>What is the <i>hourly rate</i> for this tutoring class?</h5>
        <br>
        <div class="priceBox">
          <h4><b>CAD</b></h4>
          <input type="number" name="price" min="0" max="500" value="<%= Class.price %>">
          <h4><b>per Hour</b></h4>
        </div>
      </div>

      <br>
      </fieldset>
      <button type="submit">Save</button>
    </form>


  </div>

<% include ../../partials/footer %>
